html,body {
    height: 100%;
}

body {  
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.discordapp.com/attachments/915050533860049006/1106236558090186783/c0dfddea6b79d5bd.png);
    
}

section {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    font-family: "Mitr Light", serif;
}

#content-space {
    text-align: center;
}

#center-space {
    width: 80%;
    margin: auto;
}

table,tr,td {
    font-size: 24px;
    border: 1px black solid;
    border-collapse: collapse;
    padding: 10px;
    padding: 20px 20px;
    margin-left: auto; 
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

td > a:hover {
    color: red;
}

#search {
    display: flex;
    float: left;
    justify-content: space-between; 
    margin: 0 auto;
    width: 20%;
    height: 40px;
    margin-bottom: 10px;
}
  
#search_bar {
    font-family: "Mitr Light", serif;
    font-size: 24px;
    padding: 5px;
    flex: 1; 
    border-radius: 3px;
    border: 1px solid rgb(139, 139, 139);
    background-color: rgba(221, 221, 221, 0.829);
}
  
button {
    font-family: "Mitr Light", serif;
    margin-left: 10px;
    padding: 5px; 
}
  